%p#notice= notice

%p
  %b Product:
  = @user_query.product.code
%p
  %b Search text:
  = @user_query.search_text

%br
  - reviews = @user_query.reviews
  - if reviews.any?
    - reviews.each do |review|
      %div
        %p
          %b
            = review.content
      %br
  - else
    %div
      %p
        %b
          There is no any review according to you search query
%br

= link_to 'Edit', edit_user_query_path(@user_query)
\|
= link_to 'Back', user_queries_path
